{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pilot'Éclair{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/lucide@latest/dist/umd/lucide.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
     <!-- Swiper CSS -->
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body class="flex flex-col min-h-screen bg-cacf-light text-cacf-dark">
    <!-- Navigation -->
    <nav class="bg-white shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="{% url 'home' %}"></a>
                    <img src="{% static 'img/logo-cacf.png' %}" alt="CACF" class="h-16">
                </div>
                <div class="flex items-center space-x-0">
                    {% if user.is_authenticated %}
                        <a href="{% url 'home' %}" class="px-4 py-2 text-sm  transition duration-300 
                        {% if request.resolver_match.url_name == 'home' %}bg-cacf-dark text-white{% else %}bg-cacf-green text-white hover:bg-cacf-dark{% endif %}"> <i data-lucide="home" class="h-2 w-2 text-white text-sm" ></i>Page d'accueil</a>
                        <a href="{% url 'dashboard' %}" class="px-4 py-2 text-sm  transition duration-300 
                        {% if request.resolver_match.url_name == 'dashboard' %}bg-cacf-dark text-white{% else %}bg-cacf-green text-white hover:bg-cacf-dark{% endif %}"><i data-lucide="layout-dashboard" class="h-2 w-2 text-white text-sm" ></i>Tableau de bord</a>
                        {% if user.role == 'analyste' %}
                            <a href="{#}" class="px-4 py-2 text-sm bg-cacf-green text-white  hover:bg-cacf-dark transition duration-300"><i data-lucide="chart-column" class="h-2 w-2 text-white text-sm" ></i>Analyses</a>
                            <a href="{% url 'upload_powerbi' %}" class="px-4 py-2 text-sm bg-cacf-green text-white  hover:bg-cacf-dark transition duration-300"><i data-lucide="file-chart-column" class="h-2 w-2 text-white text-sm" ></i>Power BI</a>
                        {% elif user.role == 'metier' %}
                            <a href="{#}" class="px-4 py-2 text-sm bg-cacf-green text-white  hover:bg-cacf-dark transition duration-300"><i data-lucide="chart-column" class="h-2 w-2 text-white text-sm" ></i>Analyses</a>
                    {% endif %}
                    <form action="{% url 'logout' %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="px-4 py-2 text-sm bg-cacf-error text-white  hover:bg-red-700 transition duration-300"> 
                            Se déconnecter  <i data-lucide="circle-power" class="h-2 w-2 text-white text-sm" ></i>
                        </button>
                    </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="px-4 py-2 text-sm bg-cacf-green text-white rounded hover:bg-cacf-dark transition duration-300">Login</a>
                {% endif %}

                </div>
                
            </div>
        </div>
    </nav>

    
    <nav class="bg-cacf-dark shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-end">
            <div class="flex justify-between h-6">
                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                    <span class="text-sm text-white">Connecté en tant que <strong>{{ user.username }}</strong> ({{ user.get_role_display }})</span>

                {% endif %}

                </div>
                
            </div>
        </div>
    </nav>

    <!-- Content -->
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-cacf-dark text-cacf-light py-4 mt-auto">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col sm:flex-row justify-between items-center">
                <div class="text-sm">© {{ now.year }} Pilot'Éclair - Crédit Agricole Consumer Finance</div>
                <div class="text-sm flex space-x-4">
                    <a href="#" class="hover:underline">Politique de confidentialité</a>
                    <a href="#" class="hover:underline">Mentions légales</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() { 
            lucide.createIcons(); 
        });
    </script>
    {% if messages %}
    <div id="toast-container" class="fixed top-6 right-6 z-50">
      {% for message in messages %}
        <div class="flex items-center max-w-sm mb-4 px-4 py-3 rounded-lg shadow-lg text-white 
                    {% if message.tags == 'success' %}bg-green-600{% else %}bg-red-600{% endif %}">
          <i data-lucide="{% if message.tags == 'success' %}check-circle{% else %}alert-circle{% endif %}" class="w-5 h-5 mr-2"></i>
          <span class="text-sm">{{ message }}</span>
        </div>
      {% endfor %}
    </div>
  
    <script>
      setTimeout(() => {
        const toast = document.getElementById('toast-container');
        if (toast) toast.remove();
      }, 3500);
    </script>
  {% endif %}
  
</body>
</html>